body {color: #666;}
.red-bar {height: 30px;}
.hero {background-image: url('../img/hero.jpg');background-size: cover;background-position: 0px -200px; height: 150px;margin-top: 85px;line-height:150px;padding-left: 15%;font-size: 25px;text-shadow: 2px 2px rgba(0, 0, 0, 0.5);}

.homepage-container {display: flex;flex-direction: row;justify-content: space-between;}
.accounts {width: 55%}
.ads {width: 39%;}

.account-card {background-color: #fff;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);padding: 15px;}
.account-balance {font-size: 28px;}

.ad-card {background-color: #fff;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);padding: 25px;}
.ad-title {font-size: 25px;}
.ad-content {width: 95%;margin: auto;}


.bank-name {font-size: 22px;margin-top: 15px;}
.bank-name span {font-weight: 100;}
.balance {font-size: 40px;font-weight: 200;margin-bottom: -7px;}
.available-balance-text {font-weight: 200;}
.transfers-table {border-radius: 5px;margin-top: 25px;}

.type-block {width: 11px;height: 11px;border-radius: 3px;display: inline-block;margin-right: 7px;}
.type-deposit .type-block {background-color: #496800;}
.type-debit-card .type-block {background-color: #5832b1;}
.type-deposit {color: #496800;}
.type-debit-card {color: #5832b1;}

.footer {padding: 15px;font-size: 10px;display: flex;justify-content: space-between;background-color: #fff;}